@media (prefers-color-scheme: light) {
  :root{
     .App {
       background-color: var(--bs-body-bg);
 
     }
  }
 }

@media (prefers-color-scheme: dark) {
 :root{
    .App {
        background-color: var(--bs-body-bg);
    }
 } 
}