@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: $purple,
  secondary: $blue,
);

$body-bg: $green;

:root {

    --app-widget-bg-color: #f5f5f5;
}


@media (prefers-color-scheme: light) {
  :root{
     .App {
       background-color: var(--bs-body-bg);
 
     }
     .widget {
       background-color: var(--app-widget-bg-color);
     }
  }
 }

@media (prefers-color-scheme: dark) {
 :root{
    .App {
        background-color: var(--bs-body-bg);
    }

    .widget {
      background-color: var(--app-widget-bg-color);
    }
 } 
}
