@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: $purple,
  secondary: $blue,
);
 

@media (prefers-color-scheme: light) {
  :root{
     body {
       --bs-body-bg: var(--bs-secondary);
 
     }
  }
 }

@media (prefers-color-scheme: dark) {
 :root{
    .App {
        background-color: var(--bs-primary);
    }
 } 
}
