@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: $purple,
  secondary: $blue,
);

 

@media (prefers-color-scheme: light) {
  :root{
     .App {
       background-color var(--bs-body-bg);
 
     }
  }
 }

@media (prefers-color-scheme: dark) {
 :root{
    .App {
        background-color: var(--bs-body-bg);
    }
 } 
}
