 


$primary: #00bcd4;
$secondary: #f44336;
$accent: #ffeb3b;
$error: #f44336;
$warning: #ffeb3b;
$info: #2196f3;
$success: #4caf50;


@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --bs-primary: #00bcd4;

  }
}

body {
  background: --var(--bs-primary);
}



@import "../node_modules/bootstrap/scss/bootstrap.scss";