@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";



$primary: #00bcd4;
$secondary: #f44336;
$accent: #ffeb3b;
$error: #f44336;
$warning: #ffeb3b;
$info: #2196f3;
$success: #4caf50;

$body-bg: black;
 

@media (prefers-color-scheme: light) {
  :root{
     body {
       --bs-body-bg:white;
 
     }
  }
 }


@media (prefers-color-scheme: dark) {
 :root{
    body {
        --bs-body-bg: var($primary);
    }

 } 
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";