 


$theme-colors: (
  primary:red,
  secondary: #f44336,
  accent: #ffeb3b,
  error: #f44336,
  warning: #ffeb3b,
  info: #2196f3,
  success: #4caf50,
);



@import "../node_modules/bootstrap/scss/bootstrap.scss";