 


$primary: #00bcd4;
$secondary: #f44336;
$accent: #ffeb3b;
$error: #f44336;
$warning: #ffeb3b;
$info: #2196f3;
$success: #4caf50;

:root {
--bs-body-bg: $primary;

}


@media (prefers-color-scheme: light) {
  :root{
     body {
       --bs-body-bg:white;
 
     }
  }
 }


@media (prefers-color-scheme: dark) {
 :root{
    body {
      --bs-body-bg:black;

    }
 }
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";