@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";


$theme-colors: (
  primary: $purple
);
 

@media (prefers-color-scheme: light) {
  :root{
     body {
       --bs-body-bg:white;
 
     }
  }
 }


@media (prefers-color-scheme: dark) {
 :root{
    body {
        --bs-body-bg: var(--bs-primary);
    }

 } 
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";