@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
  primary: $purple,
  secondary: $blue,
);

$body-bg: $green;

:root {
    --app-widget-bg-color: var(--bs-gray-200);
}



