@import "../variables.scss";

@media (prefers-color-scheme: light) {
  :root{

     .widget {
       background-color: var(--app-widget-bg-color);
     }
  }
 }

@media (prefers-color-scheme: dark) {
 :root{

    .widget {
      background-color: var(--app-widget-bg-color);
    }
 } 
}